
.image-box {
  //padding-bottom: 17%;
  overflow: hidden;
  background-color: indianred;
}

.wrapper {

}

.gallery-image {
  width: 100%;
  //position: absolute;
  top: 0;
  left: 0;
  //z-index: -1;
}

.shape {
  fill: transparent;
  stroke-dasharray: 350%;
  stroke-dashoffset: 0;
  stroke-width: 4px;
  stroke: #19f6e8;
}

svg {
  display: block;
  display: none;
}