.row {
    transition: all 2000ms;
}

.image-box2 {
    overflow: hidden;
    position: relative;
    padding-bottom: 17%;
    margin-top: 20px;
}

.gallery-image2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 800ms;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: red;
    transition: all 800ms;
}

svg {
    position: absolute;
    top:0;
    left: 0;

    .shape {
        fill: transparent;
        stroke-dasharray: 400%;
        stroke-dashoffset: 400%;
        stroke-width: 4px;
        stroke: #19f6e8;

        &:hover {

        }
    }

    .animated {
        animation: 1s draw linear forwards;
    }
}

@keyframes draw {
    0% {
        stroke-dasharray: 400%;
        stroke-dashoffset: 400%;
        stroke-width: 4px;
    }

    80% {
        stroke-dasharray: 400%;
        stroke-dashoffset: 0;
        stroke-width: 4px;
        stroke: #19f6e8;
    }
    100% {
        stroke-dasharray: 400%;
        stroke-dashoffset: 0;
        stroke-width: 4px;
        stroke: transparent;
    }
}

