.image-box {
  height: 20vh;
  margin: 0 0.5% 1%;

  overflow: hidden;
  background-color: indianred;
  position: relative;
}

.wrapper {
  //height: 100%;
  //width: calc(100% - 30px);
  //position: absolute;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image {
  height: 100%;
  //position: absolute;
  top: 0;
  left: 0;
  //z-index: -1;

}