@import '_partials/_vars.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
  color: white;
  background-color: $bodyBgColor;
}

@import '_partials/_navigation.scss';
@import '_partials/_gallery.scss';
@import '_partials/_gallery2.scss';
@import '_partials/_gallery3.scss';